spotify_search_example.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="q" type="xsd:string"/>
  <xsd:element name="queryParams">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="q"/>
        <xsd:element ref="type"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="type" type="xsd:string"/>
</xsd:schema>